*{
    margin: auto;
}
body{
    background-image: url("/img/container_bg.png");
}
#logo{
    text-align: center;
}
.pokemontitle{
    position: relative;
    top:13%;
    right: 0%;
    max-width: 60%;
    max-height: 200px;
    animation: movementTitle 0.5s ;
}
@keyframes movementTitle{
    from {
        transform: translateX(-50em);
    }
    to {
        transform: translateX(0);
    }
}
.pokeball{
    position: absolute;
    top:12%;
    right: 44.4%;
    max-width: 70px;
    animation: movementBall 2s 1 ;
}
@keyframes movementBall{
    from {
        transform: translateY(-20em);
    }
    to {
        transform: translateY(0);
    }
}
.mainSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 5%;
    max-width: 39em;
}
.container{
    border: solid 1px var(--main-color);
    margin-bottom: 1.5em;
    margin-right: 2%;
}
.container:hover{
    transform: scale(1.1);
}
.container-img{
    max-width: 7em;
}
.background-img{
    background-color:rgb(230, 227, 240);
}
.pokemonNumber{
    font-size: 8px;
    font-weight: bold;
    margin:5px 0px 4px 5px;
    color: var(--normal);
}
.pokemonName{
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    font-family: sans-serif;
    margin-bottom: -3%;
}
.pokemonButton{
    font-size: 6px;
    margin-left: 5px;
    margin-bottom: 3px;
    border: none;
    border-radius: 2px;
    width: 7em;
}
.pokemonButton:hover{
    background-color:rgb(8, 248, 204);
}
/*Types-pokemon-color*/
.plant{
    background-color:var(--plant);
}
.poison{
    background-color:var(--poison);
}
.fire{
    background-color:var(--fire);
}
.fairy{
    background-color:var(--fairy);
}
.bug{
    background-color:var(--bug);
}
.normal{
    background-color:var(--normal);
}
.electrical{
    background-color:var(--electrical);
}