@media screen and (min-width: 790px) {
    .pokeball{
        position: absolute;
        top:17%;
        right: 43.5%;
        max-width: 80px;
    }
}
@media screen and (max-width: 682px) {
    .pokeball{
        position: absolute;
        top:13%;
        right: 44.4%;
        width: 49px;
    }
}
@media screen and (max-width: 500px) {
    .pokeball{
        position: absolute;
        top:10%;
        right: 44.4%;
        width: 45px;
    }
}
@media screen and (max-width: 400px) {
    .pokeball{
        position: absolute;
        top:15%;
        right: 44.4%;
        width: 45px;
    }
}
@media screen and (max-width: 263px) {
    .pokeball{
        position: absolute;
        top:10%;
        right: 44.4%;
        width: 20px;
    }
}
@media screen and (max-width: 128px) {
    .pokemontitle{
        position: relative;
        top: 20%;
        right: 0%;
        bottom: -15px;
    }
}
@media screen and (max-width: 124px) {
    .container{
    flex-wrap: wrap;
        margin-right: 0%;
        margin-left: 10%;
        width: 70px;
    }
    .content-img{
        width: 4em;
    }
}